<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>TodoList</title>
</head>
<body>
    <div class="mt-5" role="main" id='errorContainer'>
        <div class='container alert alert-secondary text-center my-5' id='errorBox'>
            <h2 class='my-5 py-5'>ERROR</h2>
            <p class='mt-5 pt-5'><a href='/todo' class='font-weight-bold'>ホームに戻る</a></p>
        </div>
    </div>
</body>
</html>